<ion-view view-title="Match List" hide-nav-bar="false">
    <ion-nav-buttons side="right">
        <button type="submit" class="button button-icon ion-edit" ng-click="editGroup()"></button>
        <!--button type="submit" class="button button-icon ion-calendar" ng-click="openFileDialog('camera')"></button>
        <button type="submit" class="button button-icon ion-flag" ng-click="openFileDialog('camera')"></button -->
    </ion-nav-buttons>
    <ion-nav-title>
      {{groupInfo.name}}
    </ion-nav-title>
    <ion-content scroll="true">
        <div class="list">
            <div class="item" ng-show="!matchList.length">
                <p><b>Welcome to the group. No new matches yet</b><p>
            </div>
            <div ng-repeat="match in matchList|orderBy:'date':true" class="list list-inset" >
                <a ng-click="openMatchDetail(match)" href="#" class="item item-divider" >
                    {{mips.getSideInfo(match.sideInfo, match.scoreInfo,9,5)}}
                </a>
                <a ng-click="openMatchDetail(match)" href="#" class="item">
                    <div class="row">
                        <div class="col">Set</div>
                        <div ng-repeat="set in match.scoreInfo.setList" class="col">S{{$index}}</div>
                    </div>
                    <div ng-repeat="side in match.sideInfo track by $index" class="row">
                        <div class="col">{{mips.getSideNameTempalate($index)}}</div>
                        <div ng-repeat="set in match.scoreInfo.setList" class="col">{{set.summary[$parent.$index]}}</div>
                    </div>
                </a>
                <a ng-click="openMatchDetail(match)" href="#" class="item item-divider">
                    {{mips.getTag(match.tagList)}}
                    [<span am-time-ago="match.date"></span>]
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
