<ion-view view-title="Create Group" hide-nav-bar="false">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content scroll="true">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label"><b>Name</b></span>
                <input ng-model="groupInfoEdit.name" type="text" placeholder="Enter group name">
            </label>
            <div class="item item-button-right">
                <b>Players</b>
                <button ng-click="openSearchPlayerModal()" class="button button-positive">
                    <i class="icon ion-plus-round"></i>
                </button>
            </div>
            <ion-list>
                <ion-item ng-repeat="player in groupInfoEdit.playerList">
                    {{player.displayName}}
                </ion-item>
            </ion-list>
            <div class="item item-button-right">
                <b>Teams</b>
                <button ng-click="openCreateTeamModal(null)" class="button button-positive">
                    <i class="icon ion-plus-round"></i>
                </button>
            </div>
            <ion-list show-delete="true">
                <ion-item ng-repeat="(teamName,value) in teamList">
                    {{teamName}}
                    <ion-delete-button class="ion-minus-circled"
                       ng-click="openCreateTeamModal(teamName)">
                    </ion-delete-button>
                </ion-item>

            </ion-list>
            <label class="item item-button-right">
                <b>Tags</b>
                <button ng-click="openCreateTagsModal()" class="button button-positive">
                    <i class="icon ion-plus-round"></i>
                </button>
            </label>
            <ion-list>
                <ion-item ng-repeat="tag in groupInfoEdit.tagList">
                    {{tag}}
                </ion-item>
            </ion-list>
            <button ng-click="saveGroupInfo()" class="button button-full button-positive">
            Save
            </button>
        </div>
    </ion-content>
</ion-view>
<script id="search_and_add_players.html" type="text/ng-template">
<ion-modal-view>
<ion-header-bar>
    <h1 class="title">Add player</h1>
</ion-header-bar>
<ion-content>
    <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="search.name" type="text" placeholder="Search">
        </label>
    </div>
    <button ng-click="searchPlayers(search.name)" class="button button-full">
    Search
    </button>
    <ion-radio ng-repeat="player in player_search_list"
               ng-value="player._id"
               ng-model="selected_player.data"
               ng-change="choosenPlayer(player)"
               name="player_selection">
      {{ player.displayName }}
    </ion-radio>
    <div class="item item-divider">
        Player List
    </div>
    <ion-list show-delete="true">
        <ion-item ng-repeat="player in groupInfoEdit.playerList">
        {{player.displayName}}
        <ion-delete-button class="ion-minus-circled"
                       ng-click="removePlayer($index)">
        </ion-delete-button>
        </ion-item>
    </ion-list>
    <button ng-click="closeSearchPlayerModal()" class="button button-full button-positive">
    Done
    </button>
</ion-content>
</ion-modal-view>
</script>

<script id="create_team.html" type="text/ng-template">
<ion-modal-view>
<ion-header-bar>
    <h1 class="title">Add Team</h1>
</ion-header-bar>
<ion-content>
    <label class="item item-input item-stacked-label">
        <span class="input-label"><b>Name</b></span>
        <input ng-model="team.name" type="text" placeholder="Enter team name">
    </label>
    <div class="item item-divider">
        Un-Selected Player List
    </div>
    <ion-radio ng-repeat="player in team.unchoosenPlayerList"
               ng-value="player._id"
               ng-model="selected_player.data1"
               ng-change="addPlayerToTeam(player, $index)"
               name="player_selection">
      {{ player.displayName }}
    </ion-radio>
    <div class="item item-divider">
        Team List
    </div>
    <ion-list show-delete="true">
        <ion-item ng-repeat="player in team.choosenPlayerList">
        {{player.displayName}}
        <ion-delete-button class="ion-minus-circled"
                       ng-click="removePlayerFromTeam($index)">
        </ion-delete-button>
        </ion-item>
    </ion-list>
    <button ng-click="closeCreateTeamModal()" class="button button-full button-positive">
    Done
    </button>
</ion-content>
</ion-modal-view>
</script>

<script id="create_tags.html" type="text/ng-template">
<ion-modal-view>
<ion-header-bar>
    <h1 class="title">Add Tags</h1>
</ion-header-bar>
<ion-content>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Tag</span>
        <input ng-model="tag.name" type="text" placeholder="Enter tag name">
    </label>
    <button ng-click="addNewTag(tag.name)" class="button button-full">
    Add
    </button>
    <ion-list show-delete="true">
        <ion-item ng-repeat="tag in groupInfoEdit.tagList">
        {{tag}}
        <ion-delete-button class="ion-minus-circled"
                       ng-click="groupInfoEdit.tagList.splice($index, 1)">
        </ion-delete-button>
        </ion-item>
    </ion-list>
    <button ng-click="closeCreateTagsModal()" class="button button-full button-positive">
    Done
    </button>

</ion-content>
</ion-modal-view>
</script>
